div.in{
  text-align: center;
}
ul.info{
  display: inline-block;
  text-align: left;
}
.body {
    background-color: beige;
}
.photo{
  width: 100%; max-width: 400px;
}
.in_photo{
  width: 100%; max-width: 400px;
}
