.pdp{
   width: 100%;
  max-width: 300px;
  border-radius: 35px;
  margin: 20px auto;
}

.bouton_yeonjun{
  display: inline-block;
  padding: 10px 20px;
  color: #AEC6CF;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}
.bouton_yeonjun.hover{
  background-color: #CFE2F3;
  transform: scale(1.05);
}
