div.in{
  text-align: center;
}
ul.info{
  display: inline-block;
  text-align: left;
}
body {
    background-color: beige;
}
photo{
  height: 100%,
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../images/jeongin.jpg');
  background-size: cover;       /* L'image couvre tout */
  background-position: center;  /* Centrée */
  background-repeat: no-repeat;
}
