/*IN page*/
}
.body_in {
    background-color: lightyellow;
}

.photo{
  width: 100%; 
  max-width: 800px;
}

.in_photo{
  width: 100%; 
  max-width: 400px;
}

.centre{
  text-align: center;
}

.bouton{
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff7c2;
  color: #3e3e00;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.bouton:hover {
  background-color: #ffe57f;
  transform: scale(1.05);
}
/*index page*/
.bouton_acc{
    display: inline-block;
    padding: 10px 10px;
    background-color: grey;
    border-radius: 20px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.bouton_acc:hover{
    background-color: black;
    transform: scale(1,05);
}
