html {
    background-color: rgba(34, 32, 32, 0.745);
    color: white;
}

section .gallery {
    border-radius: 0.5em;
}
section a {
    /* Ajout d'un effet de survol */
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 60vh; /* centre verticalement le texte */
    color: white;
    /* augmente la taille*/
    font-size: 10em;
    /* Ajout d'un effet de flou */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-size: cover;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 0.25em;
    margin: 0.5em 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    overflow: hidden;

}

section a.txt {
    background-image: url('../assets/txtacc.jpg');
    background-size: auto 100%;
    height: auto;
}

section a:hover {
    opacity: 0.8;
}

nav li {
    display: inline; /* met les éléments sur la même ligne */
    margin-right: 15px; /* espace entre les liens */
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: white;
}

nav a.current,nav a:hover{
    opacity: 1;
    transition: 0.3s ease;
    color: pink;
}

h4 {
    color: white;
    text-align: center;

}
.member {
    width: 40%;
    display: inline-block;
    height: auto;
    border-radius: 0.5em;
    margin: 1em 0;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    overflow: hidden;

}

.group {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 0.5em;
    margin: 1em 0;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

footer {
    font-size: smaller;
    color: gray;
    text-align: center;
}
